@page "/AddFamily/{Id:int}"
@using Models
@using FirstAssignmentDNP.Data
@using FileData
@inject IUsersData UsersData
@inject FileContext FileContext
@inject NavigationManager NavigationManager

@if (_user.Person == null)
{
    <div class="text-center">
        <h1>You don't have all your informations given.</h1>
        <h1>Would you like to add?</h1>
        <button class="btn btn-primary" @onclick="AddPersonToUser">Add</button>
    </div>
}
else
{
    <EditForm Model="@_family">
        <div class="form-group col-md-6">
                <label for="inputNumber">House Number</label>
                <input type="number" id="inputNumber" class="form-control col-md-2" @bind-value="_family.HouseNumber"/>
            </div>
        <div class="form-group col-md-4">
                        <label for="inputStreetName">Street Name</label>
                        <input type="text" class="form-control" id="inputStreetName" @bind-value="_family.StreetName"/>
                    </div>
        <button type="submit" class="btn btn-primary" @onclick="AddFamilyToUser">Add</button>
    </EditForm>
}
@code {
    [Parameter] 
    public int Id { get; set; }

    private User _user;
    private Family _family = new Family();

    protected override async Task OnParametersSetAsync()
    {
        _user = UsersData.Get(Id);
    }

    public void AddFamilyToUser()
    {
        int max = FileContext.Families.Max(f => f.Id);
        _family.Id = (++max);
        _family.Photo = "default.png";
        _family.Children = new List<Child>();
        _family.Pets = new List<Pet>();
        UsersData.AddFamilyToUser(_family, Id);
        FileContext.AddFamily(_family);
        NavigationManager.NavigateTo("/Families");
    }

    public void AddPersonToUser()
    {
    NavigationManager.NavigateTo($"/AddPersonToUser/{Id}");
    }
    

}