@page "/EditPet/{IdFamily:int}/{Id:int}"
@using FileData
@using FirstAssignmentDNP.Data
@using Microsoft.AspNetCore.Components
@using Models
@inject IFamiliesData FamiliesData
@inject NavigationManager NavigationManager
@if (petToEdit == null)
{
    <div class="text-center">
        <h1>There's no child with this Id...</h1>
    </div>
}
else
{
    <EditForm Model="@petToEdit">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputFirstname">Species</label>
                <input type="text" class="form-control" id="inputFirstname" @bind-value="petToEdit.Species"/>
            </div>
            <div class="form-group col-md-4">
            </div>
            <div class="form-group col-md-2">
                        </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="inputAge">Name</label>
                <input type="text" class="form-control col-md-2" @bind-value="petToEdit.Name"/>
            </div>
            <div class="form-group col-md-4">
                <label for="inputSex">Sex</label>
                <input type="number" class="form-control" id="inputSex" @bind-value="petToEdit.Age"/>
            </div>
            <div class="form-group col-md-2">
              
            </div>
            <div class="form-group col-md-2">
               
            </div>
        </div>
        <button type="submit" class="btn btn-primary" @onclick="Save">Edit</button>
                  <button type="submit" class="btn btn-warning" @onclick="Remove">Remove</button>

    </EditForm>
}

@code {

    [Parameter]
    public int IdFamily { get; set; }

    [Parameter]
    public int Id { get; set; }

    private Pet petToEdit;

    protected override async Task OnParametersSetAsync()
    {
        petToEdit = await FamiliesData.GetPetAsync(IdFamily, Id);
    }

    public void Save()
    {
        FamiliesData.UpdatePetAsync(IdFamily, petToEdit);
        NavigationManager.NavigateTo($"/FamilyInfo/{IdFamily}");
    }
    
    public void Remove()
    {
        FamiliesData.RemovePetAsync(IdFamily, petToEdit);
        NavigationManager.NavigateTo($"/FamilyInfo/{IdFamily}");
    }

}