@page "/EditChild/{IdFamily:int}/{Id:int}"
@using Models
@using Microsoft.AspNetCore.Components
@using FileData
@using FirstAssignmentDNP.Data
@inject IFamiliesData FamiliesData
@inject NavigationManager NavigationManager
<h3>EditChild, @Id</h3>
@if (childToEdit == null)
{
    <div class="text-center">
        <h1>There's no child with this Id...</h1>
    </div>
}
else
{
    <EditForm Model="@childToEdit">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputFirstname">First name</label>
                <input type="text" class="form-control" id="inputFirstname" @bind-value="childToEdit.FirstName"/>
            </div>
            <div class="form-group col-md-6">
                <label for="inputLastname">Last name</label>
                <input type="text" class="form-control" id="inputLastname" @bind-value="childToEdit.LastName"/>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputHairColor">Hair Color</label>
                <input type="text" class="form-control" id="inputHairColor" @bind-value="childToEdit.HairColor"/>
            </div>
            <div class="form-group col-md-6">
                <label for="inputEyeColor">Eye Color</label>
                <input type="text" class="form-control" id="inputEyeColor" @bind-value="childToEdit.EyeColor"/>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputAge">Age</label>
                <input type="number" class="form-control col-md-2" @bind-value="childToEdit.Age"/>
            </div>
            <div class="form-group col-md-2">
                <label for="inputSex">Sex</label>
                <input type="text" class="form-control" id="inputSex" @bind-value="childToEdit.Sex"/>
            </div>
            <div class="form-group col-md-2">
                <label for="inputWeight">Weight</label>
                <input type="text" class="form-control" id="inputWeight" @bind-value="childToEdit.Weight"/>
            </div>
            <div class="form-group col-md-2">
                <label for="inputHeight">Height</label>
                <input type="text" class="form-control" id="inputHeight" @bind-value="childToEdit.Height"/>
            </div>
        </div>
        <button type="submit" class="btn btn-primary" @onclick="Save">Edit</button>
        <button type="submit" class="btn btn-warning" @onclick="Remove">Remove</button>
    </EditForm>
}

@code {

    [Parameter]
    public int IdFamily { get; set; }

    [Parameter]
    public int Id { get; set; }

    private Child childToEdit;

    protected override async Task OnParametersSetAsync()
    {
        childToEdit = await FamiliesData.GetChildAsync(IdFamily, Id);
    }

    public void Save()
    {
        FamiliesData.UpdateChildAsync(IdFamily, childToEdit);
        NavigationManager.NavigateTo($"/FamilyInfo/{IdFamily}");
    }

    public void Remove()
    {
        FamiliesData.RemoveChildAsync(IdFamily, childToEdit);
        NavigationManager.NavigateTo($"/FamilyInfo/{IdFamily}");
    }

}