@page "/AddInterest/{IdFamily:int}/{ChildId:int}"
@using Models
@using FileData
@using Microsoft.AspNetCore.Components
@inject FileContext FileContext
@inject NavigationManager NavigationManager
@if (_child == null)
{
    <div class="text-center">
        <h1>There's no child with this id.</h1>>
    </div>
}
else
{
    <EditForm Model="@_newInterest">
        <div class="form-group col-md-6">
            <label for="inputNumber">Type</label>
            <input type="number" id="inputNumber" class="form-control col-md-2" @bind-value="_newInterest.Type"/>
        </div>
        <div class="form-group col-md-4 w-50 h-50">
            <label for="inputStreetName">Description</label>
            <input type="text" class="form-control" id="inputStreetName" @bind-value="_newInterest.Description"/>
        </div>
        <button type="submit" class="btn btn-primary" @onclick="AddInterestToChild">Add</button>
    </EditForm>
}

@code {

    [Parameter]
    public int IdFamily { get; set; }

    [Parameter]
    public int ChildId { get; set; }

    private Child _child;
    private Interest _newInterest = new Interest();

    protected override async Task OnParametersSetAsync()
    {
        _child = FileContext.Families.First(f => f.Id == IdFamily).Children.First(c => c.Id == ChildId);
    }

    public void AddInterestToChild()
    {
        int indexOfFamily = FileContext.Families.IndexOf(FileContext.Families.First(f => f.Id == IdFamily));
        int indexOfChild = FileContext.Families[indexOfFamily].Children.IndexOf(_child);

        FileContext.Families[indexOfFamily].Children[indexOfChild].Interests.Add(_newInterest);
        FileContext.SaveChanges();
        NavigationManager.NavigateTo($"/FamilyInfo/{IdFamily}");
    }


}